name: deloye
on:
  push:
    branches:
      - main
jobs:
    build:
     runs-on: ubuntu-latest
     steps:
       - name: checkout code
         uses: actions/checkout@v4
       - name: setup node.js
         uses: actions/setup-node@v3
         with:
           node-version: '20'
       - name: install deps
         run: npm ci
       - name: build
         run: npm run build
       - name: upload build output
         uses: actions/upload-artifact@v3
         with:
           path: dist
    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment: 
              name: github-pages
              url: ${{ steps.deployments.outputs.page_url }}
        
    